# This is Git's per-user configuration file.
[user]
    # Instead of defining user globally here, define the user per repository
    # (i.e. in the folder where you have checked out the code)
	name = example
	email = example@example.com
[alias]
	co = checkout
	cm = commit -am
    tree = "!f(){ git log --branches --remotes --tags --graph --oneline --decorate --max-count=${1:-'25'}; }; f"    
[core]
	excludesfile = ~/.gitignore
